<!-- <p>home works!</p> -->
<app-carousel></app-carousel>
<app-accordion></app-accordion>
<app-image></app-image>
<!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
<div class="text-center">
    <button type="button" class="btn btn-primary">more</button>  
  </div>
<div class="nestt">
    <div class="row">
      <div class="col">
        <br><br>
        <!-- <img src="https://tse2.mm.bing.net/th?id=OIP.2PEErX9FdMGgx-iYY6J8rwHaHa&pid=Api&P=0&h=180" style="height: 1000px;"> -->
        <br><br>
    <h2>QUICK LINK</h2><br>
    <br><p>nest
    <br>services<br>departments<br>contact<br>more..</p></div>
    <div class="col">
      <br><br><br><br>
      <h1>INDUSTRIES</h1>
      <br>
      <p>locomotive<br>aerospace and defence<br>Insurance<br>industrial<br>Mobility<br>Healthcare<br>BFS</p>
    </div>
    <div class="col">
      <br><br><br><br>
      <h1>SERVICES</h1>
      <br>
      <p>cybersecurity<br>devops<br>cloud<br>data Engineering</p>
    </div>
  </div>

   
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</div>

